.contact__section {
	min-height: 100vh;
	background-color: var(--bg-light);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.contact__container {
	width: 80%;
	max-width: 87.5rem;
	margin: auto;
	display: flex;
	gap: 6rem;
	align-items: center;
}

.contact__section h1 {
	font-size: clamp(3.25rem, 10vw, 6.75rem);
	color: var(--heading-primary);
	font-weight: 800;
	text-transform: uppercase;
	margin-block: 3rem;
	text-align: center;
}

.contact__form_container h2 {
	font-family: var(--ff-general-sans);
	font-size: clamp(1.5rem, 3vw, 2rem);
	color: var(--text-secondary);
	font-weight: 700;
	margin-bottom: 2rem;
}

.contact__form_container p {
	width: 100%;
	font-size: clamp(1rem, 2vw, 1.5rem);
	color: var(--text-secondary);
	font-weight: 400;
	margin-bottom: 4rem;
}

.contact__form_container {
	width: 70%;
	max-width: 87.5rem;
}

.personal_info__container {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.personal_info__container h3 {
	font-family: var(--ff-cabinet-sans);
	font-size: clamp(1.25rem, 2.25vw, 1.75rem);
	color: var(--text-secondary);
	font-weight: 800;
}

.personal_info__container p,
.personal_info__container li {
	font-size: clamp(1rem, 1.75vw, 1.175rem);
	color: var(--text-secondary);
	font-weight: 400;
	margin-top: 0.5rem;
}

.contact,
.socials,
.location {
	margin-bottom: 2rem;
}

.socials__links {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 0.5rem;
}

.socials__links a {
	font-size: clamp(1rem, 1.75vw, 1.175rem);
	color: var(--text-secondary);
	font-weight: 400;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.availability {
	/* bottom: 2rem; */
	position: relative;
	/* margin-left: 2rem; */
}

.availability p {
	font-size: clamp(0.85rem, 1.5vw, 1rem);
	font-weight: 500;
	color: var(--text-secondary);
	font-family: var(--ff-general-sans);
	position: relative;
	margin-left: 2rem;
}

.dot {
	content: "";
	position: absolute;
	left: 5%;
	top: 50%;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: hsl(115, 100%, 76%);
	box-shadow: 0 0 1.5rem 0.2rem hsla(115, 100%, 76%, 0.555);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: run 1.8s ease-in-out infinite;
	animation: fadeIn 1.5s infinite alternate;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
		visibility: hidden;
	}
	to {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		visibility: hidden;
	}
	to {
		opacity: 1;
		visibility: visible;
	}
}

/* Media Queries */

@media (max-width: 900px) {
	.contact__container {
		flex-direction: column;
		gap: 4rem;
	}
	.contact__form_container {
		width: 100%;
	}

	.personal_info__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: baseline;
		gap: 1rem;
		width: 80vw;
	}

	.dot {
		top: 13%;
	}

	.socials,
	.availability {
		justify-self: center;
		margin-bottom: 1rem;
	}
}

@media (max-width: 576px) {
	.contact__form_container,
	.personal_info__container {
		width: 90vw;
	}
}
