.projects__section {
	background-color: var(--bg-light);
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.projects__container {
	width: 80%;
	max-width: 87.5rem;
	padding-block: 5rem;
}

.right,
.left {
	display: flex;
}

.right {
	justify-content: flex-end;
}

.projects__container h1 {
	font-size: clamp(3.5rem, 10vw, 6.75rem);
	color: var(--heading-primary);
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 5rem;
}

/* Media Queries */

@media (max-width: 960px) {
	.projects {
		width: 100%;
	}
	.left,
	.right {
		justify-content: center;
		width: 100%;
	}

	.projects__container h1 {
		margin-bottom: 3rem;
	}
}
