.role {
	background-color: black;
	height: 100vh;
	display: flex;
	justify-content: center;
	width: 100%;
	overflow: hidden;
}

.role__flex_container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 4rem;
	height: 100%;
	width: clamp(60vw, 75vw, 1600px);
	/* max-width: 87.5rem; */
}

@media (width < 900px) {
	.role__flex_container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
		justify-items: center;
		/* align-items: center; */
		width: clamp(60vw, 70vw, 75vw);
	}
}

.role__title {
	margin-block: 2rem;
}

.role__title h1 {
	font-size: 3rem;
}

.role__text {
	color: #c7c7b0;
	font-family: var(--ff-cabinet-sans);
}

.role__text p {
	color: #ffffff;
	font-size: 1.5rem;
	line-height: 1.4;
}

.role__text span {
	font-size: 2rem;
	color: #c7c7b0;
	font-weight: 500;
}

/* .role__image_container {
	width: 40%;
} */

.role__image {
	width: clamp(300px, 32vw, 650px);
	max-height: 80vh;
	border-radius: 0.5rem;
	object-fit: cover;
	object-position: top;
}

.role__btn {
	margin-top: 6rem;
	border: none;
	border-radius: 2rem;
	color: #f1f0ee;
	background-color: #80806a;
	width: 180px;
	padding: 20px 40px;
	cursor: pointer;
	font-size: 1.125rem;
}
