.role {
	background-color: var(--bg-dark);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	overflow: hidden;
	font-family: var(--ff-cabinet-sans);
}

.role__container {
	display: flex;
	flex-direction: column;
	width: 80%;
	max-width: 87.5rem;
	gap: 5rem;
}

.role__container p {
	font-size: 2.25rem;
	color: var(--text-primary);
}

.role__container span {
	font-size: 3rem;
	color: var(--heading-secondary);
	font-weight: 700;
}

.role__container_title {
	font-size: 5rem;
	color: var(--heading-secondary);
	font-family: var(--ff-general-sans);
	line-height: 1.1;
}

.role__container_title > p {
	font-size: 1.75rem;
}

.role__container > button {
	margin-top: 6rem;
	width: 180px;
}
