/* Reset CSS */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

section h1,
article h1,
aside h1,
nav h1,
h1 {
	font-size: 5rem;
}

/* Global styles */

a {
	text-decoration: none;
	color: #000;
}

li {
	list-style: none;
}

body {
	min-height: 100vh;
	font-family: var(--ff-cabinet-sans);
	background-color: var(--bg-light);
}

.btn {
	border: none;
	border-radius: 2rem;
	cursor: pointer;
	font-size: 1.2rem;
	color: var(--text-primary);
	padding: 20px 30px;
}

@media (width <768px) {
	.btn {
		padding: 15px 25px;
	}
}

.button--primary {
	background-color: var(--bg-dark);
}

.btn--secondary {
	background-color: #80806a;
}
