.header {
	height: 8rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 2rem 3rem;
}

.header h1 {
	font-size: 2.5rem;
	font-weight: 900;
}

.header span {
	color: hsl(60, 9%, 46%);
}

.header__nav {
	width: 450px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
}

.header__menu li {
	list-style: none;
	font-size: 1.2rem;
}

.header__menu a {
	color: var(--text-secondary);
	font-weight: 400;
	display: flex;
	align-items: center;
	gap: 1rem;
	position: relative;
}

.header__menu a:hover {
	color: var(--heading-primary);
}

.header__menu a::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	bottom: -3px;
	left: 0;
	background-color: var(--heading-primary);
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

.header__menu a:hover::before {
	transform: scaleX(1);
}

.header__nav button a {
	color: var(--text-primary);
}

.header__nav button {
	transition: all 0.3s ease;
}

.header__nav button:hover {
	background-color: var(--heading-primary);
}

@media (max-width: 900px) {
	.header__menu {
		display: none;
	}

	.header__nav {
		justify-content: flex-end;
	}

	.header__menu_btn {
		display: block;
	}
}
