.project__container {
	width: 65%;
	max-width: 87.5rem;
	margin-bottom: 5rem;
	display: flex;
	flex-direction: column;
}

.project__container img {
	width: 100%;
	aspect-ratio: 1/0.9;
	object-fit: cover;
	object-position: top;
	border-radius: 1rem;
	cursor: pointer;
}

.project__container h2 {
	font-size: clamp(1.75rem, 4.5vw, 3rem);
	color: var(--heading-light);
	font-weight: 700;
	font-family: var(--ff-general-sans);
	margin-bottom: 1rem;
}

.project__container span {
	font-size: clamp(0.75rem, 1.75vw, 1.25rem);
	color: var(--heading-secondary);
	font-family: var(--ff-cabinet-sans);
	border: 1px solid var(--heading-secondary);
	border-radius: 25px;
	padding: 7px 15px;
	margin-right: 0.5rem;
	width: fit-content;
}

.project__container p {
	font-size: clamp(1rem, 2vw, 1.5rem);
	color: var(--text-primary);
	font-family: var(--ff-cabinet-sans);
	margin-top: 1.25rem;
	line-height: 1.5;
}

/* Media Queries */
@media (max-width: 960px) {
	.project__container {
		width: 100%;
	}
}
